.wrap {
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
    background-size: cover;
    overflow: hidden;
    position: relative;
    
}

.list-wrap {
    margin: 10px 0px;
    position: relative;
    overflow: hidden;
    padding-bottom: 5px;
}
.list-image {
    margin: 3px 0px;
}

.list-title {
    font-size: 20px;
    font-style: bold;
    color: black;
}

.newper {
    margin-bottom: 3px;
}

.main_top {
    color: white;
}

.main_content {
    margin: 0 auto;
    text-align: center;
    color: white;
}

.main_image {
  width: 300px;
  height: 250px;
  margin: 0 auto;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* slick styles
.slick-dots {
    bottom: 10px;    
}
.slick-dots li button:before {
    font-size: 20px;    
    color: white;
}
*/